---
// Types
import type { IWork } from "@Types";
import FolderMore from "./SVG/FolderMore.astro";
import FolderProject from "./SVG/FolderProject.astro";
interface Props {
  data: IWork;
  index: number;
}
// Props
const { data, index } = Astro.props;
---

<li class="work">
  {
    data.style.length > 0 ? (
      <span class={`work__index color-${data.style}`}>0{index}</span>
    ) : null
  }
  <h3 class="work__name color-light-grey">
    {data.name}
  </h3>
  <a
    class="work__link"
    href={data.url}
    title={data.name}
    aria-label={data.name}
    target="_blank"
  >
    {
      data.style.length > 0 ? (
        <FolderProject extraClass={data.style} />
      ) : (
        <FolderMore />
      )
    }
  </a>
</li>

<style>
  .work {
    --folder-size: clamp(260px, 40vw, 360px);
    inline-size: var(--folder-size);
    aspect-ratio: 1 / 0.7;
    display: grid;
    position: relative;
    padding-inline: var(--gap-72);
    justify-self: center;
  }

  .work__link {
    position: absolute;
    inset: 0;
  }
  .work__index {
    position: absolute;
    top: 10%;
    left: 6%;
    padding-inline: 0.5rem;
    background-color: black;
    font-size: clamp(var(--font-24), 4vw, var(--font-36));
    font-weight: bold;
    transition: transform var(--transition-03) ease-in-out;
  }
  .work:hover .work__index {
    transform: translateY(-100%) scale(1.2);
  }

  .work__name {
    font-size: clamp(var(--font-24), 4vw, var(--font-36));
    text-transform: uppercase;
    font-weight: 200;
    align-self: flex-end;
    position: relative;
    bottom: 16%;
    transition: color var(--transition-03) ease-in-out;
  }
  .work:hover .work__name {
    color: var(--text-white);
  }

  :global(.work__folder) {
    position: absolute;
    inset: 0;
    stroke-width: 3;
    transition: all 0.3s ease-in-out;
    z-index: -1;
  }

  .work:hover :global(.work__folder) {
    stroke-width: 6;
  }

  @media screen and (max-width: 800px) {
    .work {
      --folder-size: clamp(260px, 45vw, 360px);
      padding-inline: clamp(var(--gap-56), 9vw, var(--gap-72));
    }
    .work__index {
      font-size: clamp(var(--font-24), 4.5vw, var(--font-36));
    }

    .work__name {
      font-size: clamp(var(--font-24), 4.5vw, var(--font-36));
    }
  }
</style>
